
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/*Tuve que crear un contenedor para que todo tuviese una misma forma*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
header {
    background-color: #022729;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-bottom: 5px solid #feaf8c;
}

header h1 {
    font-size: 2.5em;
    font-weight: 700;
}

/* Menu de navegacion*/
nav {
    display: flex;
    justify-content: center;
    background-color: #055e61;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav a {
    color: white;
    font-size: 1.1em;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    transition: background-color 0.3s, transform 0.3s;
}

nav a:hover {
    background-color: #043c3e;
    color: white;
    border-radius: 5px;
    transform: translateY(-2px);
}

/*Lista de los libros*/
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn{
    background:#055e61;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #eee;
}

.dropdown-content a:hover {
    background-color: #feaf8c;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #feaf8c;
}

/* Stilos del form*/
section {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #121312;
}

form p {
    margin-bottom: 20px;
}

form label {
    font-size: 1.1em;
    margin-bottom: 5px;
    display: block;
    color: #34495e;
}

form input[type="text"],
form input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    margin-top: 5px;
    transition: border-color 0.3s;
}

form input[type="text"]:focus,
form input[type="email"]:focus {
    border-color: #feaf8c;
    outline: none;
}

form input[type="radio"],
form input[type="checkbox"] {
    margin-right: 10px;
}

form input[type="radio"] + label,
form input[type="checkbox"] + label {
    display: inline-block;
    margin-right: 20px;
}

form div {
    margin-bottom: 20px;
}

button {
    display: block;
    width: 100%;
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 15px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #feaf8c;
    transform: translateY(-3px);
}

button:active {
    transform: translateY(1px);
}

